
#wizard-progress {
  width: 100%;
  margin: 20px auto 0 auto;
}
#wizard-progress .step-indicator {
  border-collapse: separate;
  display: table;
  margin-left: 0px;
  position: relative;
  table-layout: fixed;
  text-align: center;
  vertical-align: middle;
  padding-left: 0;
}
#wizard-progress .step-indicator li {
  display: table-cell;
  position: relative;
  float: none;
  padding: 0;
  width: 1%;
}
#wizard-progress .step-indicator li:after {
  background-color: #DEDEDE;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  width: 100%;
  top: 32px;
}
#wizard-progress .step-indicator li:after {
  left: 50%;
}
#wizard-progress .step-indicator li:last-child:after {
  display: none;
}
#wizard-progress .step-indicator li.active .step {
  border-color: #7AD5C9;
  color: #7AD5C9;
}
#wizard-progress .step-indicator li.active .caption {
  color: #7AD5C9;
  opacity: 1;
}
#wizard-progress .step-indicator li.complete:after {
  background-color: #7AD5C9;
}
#wizard-progress .step-indicator li.complete .step {
  border-color: #7AD5C9;
  color: #7AD5C9;
}
#wizard-progress .step-indicator li.complete .caption {
  color: #7AD5C9;
  opacity: 0;
}
#wizard-progress .step-indicator .step {
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #DEDEDE;
  color: #DEDEDE;
  font-size: 24px;
  height: 64px;
  line-height: 64px;
  margin: 0 auto;
  position: relative;
  width: 64px;
  z-index: 1;
}
#wizard-progress .step-indicator .step:hover {
  cursor: pointer;
}
#wizard-progress .step-indicator .caption {
  color: #DEDEDE;
  padding: 11px 60px;
  opacity: 0;
}
